<ion-header>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Welcome
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
          <div class="spacer" style="height: 10px;"></div>
          <ion-item>
            <ion-input #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
            <small>Please enter a valid email.</small>
          </ion-item>
          <div class="spacer" style="height: 5px;"></div>
          <ion-item>
            <ion-input #password formControlName="password" type="password" placeholder="Your password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
            <small>Your password needs more than 6 characters.</small>
          </ion-item>
          <div class="spacer" style="height: 10px;"></div>
          <button type="submit" ion-button block round outline color="light">Login</button>
        </form>
        <div class="spacer" style="height: 10px;"></div>
        <a (click)="passwordreset()">Forgot login details ? <b> Get Help </b></a>
        <div class="spacer" style="height: 10px;"></div>
        <p>OR</p>
        <div class="spacer" style="height: 10px;"></div>
        <button ion-button icon-left block outline (click)="googleLogin()">
          <ion-icon name="logo-googleplus"></ion-icon>
          Google login
        </button>
        <div class="spacer" style="height: 10px;"></div>
        <button ion-button clear full color="light" (click)="signup()">Don't have an account? Sign up</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
